/* rem and em do NOT depend on html font-size in media queries
Instead, 1rem = 1em = 16px */

/* Queries based on where design starts breaking */

/* Should work over at least 200px */

/************************************/
/* BELOW 1344px (Smaller desktops) */
/* 1344 / 16 = 84 */
/************************************/

@media (max-width: 84em) {
  .hero {
    /* max-width: 120rem; */
    justify-content: center;
  }

  .hero-gallery {
    justify-content: center;
  }

  .container {
    padding: 1rem;
  }
}

/************************************/
/* BELOW 544px (Phones) */
/* 544 / 16 = 34 */
/************************************/

@media (max-width: 34em) {
  .header {
    gap: 2rem;
  }

  .container {
    padding: 1.6rem;
  }
  .grid--4-cols {
    grid-template-columns: 1fr 1fr;
  }

  .grid {
    row-gap: 4.8rem;
  }

  .logo {
    height: 5rem;
  }
}

/************************************/
/* BELOW 376px (Smaller phones) */
/* 376 / 16 = 23.5 */
/************************************/

@media (max-width: 23.5em) {
  /* .hero {
    max-width: 120rem;
  } */

  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-contact .section-text {
    font-size: 1.6rem;
  }

  .section-contact .footer-link {
    font-size: 1.4rem;
  }

  .main-nav-link:link {
    font-size: 1.2rem;
  }
}

/************************************/
/* BELOW 1344px (Smaller phones) */
/* 320 / 16 = 20 */
/************************************/

@media (max-width: 20em) {
  .hero {
    max-width: 120rem;
  }

  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .section-contact .section-text {
    font-size: 1.6rem;
  }

  .section-contact .footer-link {
    font-size: 1.4rem;
  }

  .main-nav-link:link {
    font-size: 1.2rem;
  }
}
